/* TYPOGRAPHY */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Font Weights */

/* Line Heights */

/* Letter Spacing */

/* COLORS */
/* 
Main:
tints:
shades:

Grey: #555
tints:
shades:

Accent:
tints:
shades:
*/

/* BOX SHADOWS */

/* BORDER RADIUSES */

/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  padding: 2rem;
}

/* PLAY SECTION STYLING */
.section-play {
  height: 80vh;
  background-color: #bbb;
}
.play-area {
  background-color: #ddd;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.play-form {
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.textarea {
  height: 80%;
  width: 40%;
}
.btn-copy {
}
.btn-submit {
}
.hidden {
  display: none;
}
.card-div {
  border-radius: 9px;

  display: grid;
  grid-template-columns: 1fr;
}
.card-face,
.card-back {
  border-radius: 9px;

  grid-column: 1/-1;
  grid-row: 1/-1;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card-face {
  color: #000;
  background-color: lightcoral;
}
.card-back {
  z-index: 2;
  background-color: lightblue;
}
.flipped {
  z-index: 3;
}
